@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
body {
    margin: 0 !important;
}

.container {
    max-width: 65%;
    margin: auto;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
}

li a {
    text-decoration: none !important;
    color: black !important;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    background-color: white !important;
    display: flex !important;
    flex-direction: row !important;
    padding: 15px 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;

}

.company_name {
    margin-right: auto;
    font-size: 20px;
    font-weight: 400;
}

.navbar_pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 8px;
}

.custom-logo {
    width: 150px;
    height: auto;
}

.small_slogan {
    font-family: 'Roboto', sans-serif;
    color: rgb(117, 181, 245);
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;

}

.slogan {
    font-family: 'Montserrat', sans-serif;
    color: rgb(49, 47, 47);
    font-weight: 600;
    font-size: 45px;
    margin-top: 0;
}

.hero-container {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left {
    max-width: 50%;
}

.right {
    max-width: 50%;

}

.right img {
    width: 70%;
    margin-left: auto;
    float: right;
}

.left p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(128, 127, 127);
}